@charset "UTF-8";
/* =================================

style.css includes

|
|– base/
|   |– _common.scss
|   |– _reset.scss
|

 ===================================*/
/* =================================

common.css includes

|
|– base/
|   |– _common.scss
|   |– _font.scss
|   |– _reset.scss
|

 ===================================*/
/* ==========================================================
=============================================================
=============================================================
= base 
= reset 
=============================================================
=============================================================
=============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-text-size-adjust: none;
	font-style: normal;
	font-weight: 400;
}

span {
	font-size: inherit;
	font-weight: inherit;
	vertical-align: unset;
}

ul,
ol,
li,
dl {
	list-style: none;
}

br {
	font-family: dotum;
}

a {
	text-decoration: none;
	color: inherit;
}

button:disabled,
button[disabled] {
	-webkit-tap-highlight-color: transparent;
	color: inherit;
}

hr {
	display: none;
}

button {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 100%;
	line-height: 1.6;
	outline: none !important;
	background: none;
	cursor: pointer;
}

i {
	font-style: normal;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

table {
	border-collapse: collapse;
}

caption,
legend {
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
}

th {
	text-align: inherit;
}

input {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
	line-height: 100%;
	background-color: transparent;
	border: 1px solid transparent;
	font-family: inherit;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

textarea {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: inherit;
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

select {
	color: inherit;
	background-color: inherit;
	font-family: inherit;
	line-height: 100%;
	border-width: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

html {
	position: relative;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	font-size: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: "Noto Sans KR", sans-serif;
	text-align: left;
	font-size: 19px;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	word-break: keep-all;
	color: #FFFFFF;
	background-color: #1A2744;
	overflow-x: hidden;
	transition: color, background 0.2s;
}
.light-theme body {
	color: #222222;
}

.light-theme body {
	background-color: #F4F4FB;
}

a:focus {
	opacity: 1;
}

.hide,
.hidden {
	display: none !important;
}

.text-hide {
	font-size: 0 !important;
	text-indent: -9999px;
}

.contents {
	position: relative;
	padding: 20px;
}

.svg-color {
	stroke: #FFFFFF;
}
.light-theme .svg-color {
	stroke: #222222;
}

.section-title {
	font-size: 46px;
	font-weight: 600;
}

.font-accent {
	color: #89DDFF;
}
.light-theme .font-accent {
	color: #39ADB5;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 14px 58px 14px 34px;
	font-weight: 800;
	color: #1A2744;
	border-radius: 10px;
	background-color: #FFFFFF;
	transition: background-color 0.3s;
}
.light-theme .btn {
	color: #F4F4FB;
}

.light-theme .btn {
	background-color: #222222;
}

.btn:hover {
	background-color: #89DDFF;
}
.light-theme .btn:hover {
	background-color: #39ADB5;
}

.btn .ico-link {
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 14px;
	right: 20px;
}
.btn .ico-link__arrow {
	transition: 0.2s;
}
.btn .ico-link .svg-color {
	stroke: #1A2744;
	fill: #1A2744;
}
.light-theme .btn .ico-link .svg-color {
	stroke: #F4F4FB;
}

.light-theme .btn .ico-link .svg-color {
	fill: #F4F4FB;
}

.btn:hover .ico-link__arrow {
	animation: arrow 1s infinite both;
}

@keyframes arrow {
	0% {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(4px, -4px);
	}
	100% {
		transform: translate(0, 0);
	}
}
.wrap {
	position: relative;
}
.wrap.loading {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
	.wrap.loading {
		height: -webkit-fill-available;
		max-height: -webkit-fill-available;
	}
}

.full-box {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@supports (-webkit-touch-callout: none) {
	.full-box {
		height: -webkit-fill-available;
	}
}

.header {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	transition: -webkit-backdrop-filter 0.4s;
	transition: backdrop-filter 0.4s;
	transition: backdrop-filter 0.4s, -webkit-backdrop-filter 0.4s;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px) opacity(1);
	        backdrop-filter: blur(10px) opacity(1);
	z-index: 1000;
	overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
	.header {
		height: -webkit-fill-available;
	}
}
.light-theme .header {
	background-color: rgba(155, 155, 155, 0.1);
}

.top-obj {
	position: relative;
	transform: rotate(-24deg);
}

.scroll-top {
	cursor: pointer;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logo__k {
	stroke-dasharray: 125px;
	stroke-dashoffset: 0;
}
.logo__elly {
	stroke-dasharray: 1412px;
	stroke-dashoffset: 0;
}
.logo__eye-l {
	stroke-dasharray: 18px;
	stroke-dashoffset: -18px;
	animation: eye-l 0.3s cubic-bezier(0, 0, 0.04, 3) 4.5s forwards;
}
.logo__eye-l.action {
	stroke-dashoffset: 0;
	animation: left_eye 3s 2s infinite;
}
.logo__eye-r {
	stroke-dasharray: 15px;
	stroke-dashoffset: -15px;
	animation: eye-r 0.3s cubic-bezier(0, 0, 0.04, 2.21) 5s forwards;
}
.logo__eye-r.action {
	stroke-dashoffset: 0;
	animation: right_eye 3s 2s infinite;
}

.loading .logo__k {
	stroke-dashoffset: -125px;
	animation: k 0.25s cubic-bezier(0, 0, 0.65, 0.42) 1s forwards;
}
.loading .logo__elly {
	stroke-dashoffset: -1412px;
	animation: elly 2.5s cubic-bezier(0, 0, 0.75, 0.45) 1.5s forwards;
}

@keyframes k {
	from {
		stroke-dashoffset: 125px;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes elly {
	from {
		stroke-dashoffset: 1412px;
	}
	to {
		stroke-dashoffset: 0px;
	}
}
@keyframes eye-l {
	from {
		stroke-dashoffset: 18px;
	}
	to {
		stroke-dashoffset: 0px;
	}
}
@keyframes eye-r {
	from {
		stroke-dashoffset: 15px;
	}
	to {
		stroke-dashoffset: 0px;
	}
}
@keyframes left_eye {
	0% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-4px);
	}
	20% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(-1px);
	}
	35% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes right_eye {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-4px);
	}
	30% {
		transform: translateY(2px);
	}
	40% {
		transform: translateY(-1px);
	}
	45% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
.toggle__box {
	display: flex;
	width: 56px;
	position: absolute;
	right: 40px;
	background-color: rgba(137, 221, 255, 0.5);
	border-radius: 14px;
	opacity: 0;
	transition: 0.3s;
}
.light-theme .toggle__box {
	background-color: #32979e;
}

.toggle__item {
	display: none;
}
.toggle__item:checked + .toggle__btn::after {
	transform: translate(32px, -50%);
}
.toggle__btn {
	width: 100%;
	height: 26px;
	position: relative;
	z-index: 100;
}
.toggle__btn::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translate(4px, -50%);
	background-color: #ffffff;
	border-radius: 50%;
	transition: transform 0.2s;
}
.toggle__icon {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px 8px;
}
.toggle__icon .item {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
}
.toggle__icon .item.on {
	opacity: 1;
}
.toggle__icon--dark {
	background-image: url("../images/toggle-icon_dark.svg");
}
.toggle__icon--light {
	background-image: url("../images/toggle-icon_light.svg");
}

.scroll {
	height: 86px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: 0.2s;
}
.scroll.show {
	opacity: 1;
}
.scroll__text {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1.6px;
}
.scroll__line {
	width: 1px;
	height: 50px;
	background: #fff;
	animation: line 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite normal;
}

@keyframes line {
	0% {
		transform: translate3d(0, 50px, 0);
		opacity: 0;
	}
	15%, 85% {
		opacity: 1;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 0;
	}
}
.contents {
	position: relative;
	max-width: 1600px;
	margin: 0 auto 0;
	padding: 0 60px 0;
}

.about {
	position: relative;
	padding-top: 80px;
}
.about__intro {
	height: calc(100vh + 80px);
	display: flex;
	align-items: center;
}
@supports (-webkit-touch-callout: none) {
	.about__intro {
		min-height: -webkit-fill-available;
	}
}
.about__img {
	position: relative;
	flex: 1;
}
.about .avata {
	display: block;
	width: 85%;
	max-width: 400px;
	margin: 0 auto;
	border-radius: 50%;
}
.about .memoji {
	width: 100%;
	max-width: 100px;
	height: 100%;
	max-height: 100px;
	position: absolute;
	background: url("../images/img-about.png") no-repeat center/contain;
}
.about .memoji__1 {
	top: 30%;
	left: 0%;
}
.about .memoji__2 {
	top: 40%;
	right: 10%;
}
.about .memoji__3 {
	top: 50%;
	left: 30%;
}
.about .memoji__4 {
	top: 60%;
	right: 10%;
}
.about__title {
	position: relative;
	flex: 1;
}
.about__title .ico-accent {
	position: absolute;
	top: -6px;
	left: -12px;
}
.about__title .section-title {
	margin-bottom: 40px;
}
.about__text {
	max-width: 884px;
	margin: 0 auto;
}
.about__text--item + .about__text--item {
	margin-top: 30px;
}

.process {
	margin-top: 140px;
}
.process .section-title {
	text-align: center;
}
.process__item::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #89DDFF;
}
.light-theme .process__item::before {
	background-color: #39ADB5;
}

.footer {
	padding: 100px 0 20px;
	font-size: 12px;
	text-align: center;
	color: #AFC9D3;
}
.light-theme .footer {
	color: #8796B0;
}