.contents {
    position: relative;
    max-width: 1600px;
    margin: 0 auto 0;
    padding: 0 60px 0;
}

.about {
    $header : 80px;
    position: relative;
    padding-top: $header;

    &__intro {
        height: calc(100vh + $header);
        display: flex;
        align-items: center;

        @include ios {
            min-height: -webkit-fill-available;
        }
    }

    &__img {
        position: relative;
        flex: 1;
    }

    .avata {
        display: block;
        width: 85%;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 50%;
    }


    .memoji {
        $size: 100px;
        width: 100%;
        max-width: $size;
        height: 100%;
        max-height: $size;
        position: absolute;
        background: url('#{$path-image}/img-about.png') no-repeat center / contain;

        &__1 {
            top: 30%;
            left: 0%;
        }

        &__2 {
            top: 40%;
            right: 10%;
        }

        &__3 {
            top: 50%;
            left: 30%;
        }

        &__4 {
            top: 60%;
            right: 10%;
        }
    }

    &__title {
        position: relative;
        flex: 1;

        .ico-accent {
            position: absolute;
            top: -6px;
            left: -12px;
            ;
        }

        .section-title {
            margin-bottom: 40px;
        }
    }

    &__text {
        max-width: 884px;
        margin: 0 auto;



        &--item+&--item {
            margin-top: 30px;
        }
    }
}


.process {
    margin-top: 140px;

    .section-title {
        text-align: center;
    }

    &__item {
        &::before {
            @include pseudo('', 10px, 10px);
            @include get-color(background-color, color-mint);
        }

    }
}


.footer {
    padding: 100px 0 20px;
    font-size: 12px;
    text-align: center;
    @include get-color(color, color-lightblue);
}