$sectionSpacs: 160px;

.contents {
    position: relative;
    max-width: 1600px;
    margin: 0 auto 0;
    padding: 0 60px;

    @include mobs {
        padding: 0 20px;
    }
}

.about {
    position: relative;
    padding-bottom: 100px;

    @include mobs {
        height: calc(var(--vh, 1vh) * 100);
        height: auto;
    }

    &__intro {
        height: calc(100vh - 60px);
        display: flex;
        align-items: center;

        @include ios {
            min-height: -webkit-fill-available;
        }

        @include mobs {
            padding: 100px 0;
            flex-direction: column;
        }
    }

    &__visual {
        position: relative;
        flex: 1;

        @include mobs {
            flex: auto;
        }
    }

    .avata {
        display: block;
        width: 85%;
        max-width: 398px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;



        @include mobs {
            max-width: 250px;
            border: 1px solid red;
        }

        @include macSafari {
            border: 1px solid yellow;
        }

        &__sequence {
            width: 100%;
        }
    }

    &__title {
        position: relative;
        flex: 1;

        @include mobs {
            flex: auto;
        }

        .section-title {
            margin-bottom: 40px;
        }

        .btn {
            @include mobs {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__text {
        @include flexCenter(center);

        &--box {
            display: inline-block;
        }

        &--item+&--item {
            margin-top: 30px;
        }
    }
}


.howtowork {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 250px 0 $sectionSpacs;

    @include mobs {
        padding-top: 150px;
        flex-direction: column;

    }

    .section-title {
        position: relative;
        flex: 2;
        text-align: center;

        @include mobs {
            width: 100%;
        }

        &::after {
            $size: 60px;

            @include pseudo('', $size, $size);
            position: absolute;
            top: -52px;
            left: 50%;
            transform: translateX(-50%);
            background: url('#{$path-image}/ico-bulb.png') no-repeat center / cover;
            opacity: 0.4;

            @include mobs {
                opacity: 1;
                animation: flick 1.5s linear infinite both;
            }
        }

        &.is-active::after {
            opacity: 1;
            animation: flick 1.5s linear infinite both;

            @keyframes flick {

                0%,
                100% {
                    opacity: 1;
                }

                20% {
                    opacity: 0.4;
                }
            }

        }
    }

    .scrollmagic-pin-spacer {
        flex: 2;

        .section-title {
            width: auto;
        }
    }

    &__wrap {
        position: relative;
        flex: 3;
        margin-top: 220px;

        @include mobs {
            margin-top: 80px;
        }
    }

    &__item+&__item {
        margin-top: 100px;
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 12px;

        @include mobs {
            justify-content: center;
            gap: 8px;
        }

        &--tit {
            font-size: 22px;
            font-weight: 600;
        }
    }

    &__icon {
        $size: 32px;

        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-size: cover;

        &--pencil {
            background-image: url('#{$path-image}/ico-pencil.png')
        }

        &--keyboard {
            background-image: url('#{$path-image}/ico-keyboard.png')
        }

        &--user {
            background-image: url('#{$path-image}/ico-user.png')
        }

        &--chat {
            background-image: url('#{$path-image}/ico-chat.png')
        }
    }

    &__sub {
        margin-top: 14px;
        margin-left: 65px;

        @include mobs {
            margin-left: 20px;

        }
    }

    &__list {
        position: relative;

        &+& {
            margin-top: 8px;
        }

        &::before {
            $size: 6px;
            @include pseudo('', $size, $size);
            position: absolute;
            top: 13px;
            left: -17px;
            border-radius: 50%;
            @include get-color(background-color, color-mint);
        }

    }
}

.process {
    padding: $sectionSpacs 0;

}

.project {
    $project: &;
    width: 100%;
    @include flexCenter(center);
    flex-direction: column;
    padding: $sectionSpacs 0;

    &__wrap {
        width: 100%;
        @include flexCenter(space-evenly);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        margin: 80px 0 100px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 2px 8px 9px 3px rgba(19, 19, 19, 0.3);
        background-color: rgba($color: #fff, $alpha: 0.1);
        transition: 0.2s;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.12);
        }
    }

    &__icon {
        $size: 40px;

        width: $size;
        height: $size;
        background: url('#{$path-image}/ico-folder.png') top / cover no-repeat;

        #{$project}__item:hover & {
            background-position: bottom;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__detail {
        margin: 10px 0;
        font-size: 14px;
    }

    &__skill {
        display: flex;
        gap: 20px;
    }

    &__link {
        display: flex;
        justify-content: center;
        gap: 30px;


        .link__icon {
            $size: 20px;

            display: inline-block;
            width: $size;
            height: $size;
            position: absolute;
            right: $size;
            background-repeat: no-repeat;
            background-size: cover;


            &--more {
                background-image: url('#{$path-image}/ico-magnifying_glass.png');
            }

            &--link {
                background-image: url('#{$path-image}/ico-link.png');
            }
        }

        .btn__sm {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
        }
    }


}


.contact {
    padding-top: $sectionSpacs;

    &__wrap {
        position: relative;
        padding: 40px 0;
    }

    &__icon {
        $size: 36px;

        width: $size;
        height: $size;
        position: absolute;
        left: 50%;
        background: url('#{$path-image}/ico-interest.png') no-repeat center / contain;
        opacity: 0.8;
        z-index: -1;

        @for $i from 1 through 6 {
            $res : calc((7 + $i) / 10);

            &:nth-of-type(#{$i}) {
                transform: scale($res);
            }

        }
    }

    .section-title {
        text-align: center;
    }

    &__email {
        @include flexCenter(center);
        flex-direction: column;
        gap: 10px;
        padding: 100px 0;

        @include mobs {
            gap: 10px;
            padding: 80px 0;
        }

        &--icon {
            $size: 100px;

            width: $size;
            height: $size;
            background: url('#{$path-image}/ico-envelope.png') no-repeat center / contain;
            animation: heartbeat 2s ease-in-out infinite both;

            @include mobs {
                $size: 40px;

                width: $size;
                height: $size;
            }
        }

        &--address {
            font-size: 60px;
            font-family: 'Open Sans', sans-serif;
            transition: 0.3s;

            @include mobs {
                font-size: 24px;
            }

            &:hover {
                transform: scale(1.1);
                @include get-color(color, color-mint);
            }
        }
    }



}

@keyframes heartbeat {
    from {
        transform: scale(0.99);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    20% {
        transform: scale(0.93);
        animation-timing-function: ease-in;
    }

    47% {
        transform: scale(0.99);
        animation-timing-function: ease-out;
    }

    73% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    85% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
}



.footer {
    padding: 20px 0 20px;
    font-size: 12px;
    text-align: center;
    @include get-color(color, color-lightblue);
}