.contents {
    position: relative;
    max-width: 1600px;
    margin: 0 auto 0;
    padding: 0 60px 0;
}

.about {
    $header : 80px;
    position: relative;
    padding-top: $header;

    &__intro {
        height: calc(100vh + $header);
        display: flex;
        align-items: center;

        @include ios {
            min-height: -webkit-fill-available;
        }
    }

    &__img {
        position: relative;
        flex: 1;
    }

    .avata {
        display: block;
        width: 85%;
        max-width: 398px;
        margin: 0 auto;
        // border-radius: 50%;
    }


    .memoji {
        $size: 70px;

        width: 100%;
        max-width: $size;
        height: 100%;
        max-height: $size;
        position: absolute;
        background: url('#{$path-image}/img-about.png') no-repeat center / contain;
        opacity: 0.6;
    }

    &__title {
        position: relative;
        flex: 1;

        .ico-accent {
            position: absolute;
            top: -6px;
            left: -12px;
            ;
        }

        .section-title {
            margin-bottom: 40px;
        }
    }

    &__text {
        max-width: 884px;
        margin: 0 auto;

        &--item+&--item {
            margin-top: 30px;
        }
    }
}


.howtowork {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 250px;

    .random-icon {
        $size: 100px;

        width: 100%;
        max-width: $size;
        height: 100%;
        max-height: $size;
        position: absolute;
        background: url('#{$path-image}/ico-random_6.svg') no-repeat center / contain;
        opacity: 0.6;
    }


    .section-title {
        //     margin-bottom: 80px;
        flex: 2;
        text-align: center;
    }



    .scrollmagic-pin-spacer {
        flex: 2;

        .section-title {
            width: auto;
        }
    }

    &__wrap {
        position: relative;
        flex: 3;
        margin-top: 220px;
    }

    &__item+&__item {
        margin-top: 100px;
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 10px;

        &--tit {
            font-size: 22px;
            font-weight: 600;
        }
    }

    &__icon {
        $size: 40px;

        width: $size;
        height: $size;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__sub {
        margin-top: 14px;
        margin-left: 70px;
    }

    &__list {
        position: relative;

        &+& {
            margin-top: 8px;
        }

        &::before {
            $size: 6px;
            @include pseudo('', $size, $size);
            position: absolute;
            top: 13px;
            left: -17px;
            border-radius: 50%;
            @include get-color(background-color, color-mint);
        }

    }
}

.process {
    .section-title {
        margin-top: 140px;
        margin-bottom: 80px;
    }

}

.project {
    .section-title {
        margin-top: 140px;
        margin-bottom: 80px;
    }

}


.contact {
    .envelope__heart {
        @include get-color(fill, color-red);
        transform: scale(1.2) translate(1178.24, 1670.43);
    }
}

.footer {
    padding: 100px 0 20px;
    font-size: 12px;
    text-align: center;
    @include get-color(color, color-lightblue);
}